.userChats{
    display: flex;
    padding: 15px;
    border-bottom: 1px solid lightgray;
}

.userChats:hover{
    background-color: #ededee;
    text-decoration: none;
}
.userChats__namemsg{
    margin-left: 15px;
    text-decoration:none;
    color: black;
}

.userChats__namemsg > h5{
    font-size: 1.1rem;
    font-weight: 490;
    margin-bottom: 0.2rem;
}

.userChats__namemsg > h6{
    font-size: 0.9rem;
    font-weight: 400;
}
.modal-header{
    padding:0.5rem;
}
.modal-footer{
    padding:0.5rem;
}
.modal-body>input{
    width: 100%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid lightgray;
}
